# Ignore spirecomm build directory
spirecomm/build/
./.ipynb_checkpoints
Untitled.ipynb
./build
__pycache__/

# Ignore venv directory
venv/

ppo_slay_the_spire.zip
performance_metrics.png
performance_metrics Day 1.png
.env
slay_the_spire.db
